
body {
    font-family: Arial, Helvetica, sans-serif;    
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

div#wrapper {
    margin: 0px auto;
    width: 800px;
    min-height: 800px;
}

div#container {
    margin: 10% auto;
    width: 100%;
    min-height: 800px;
}

div#login-recupera{
    background:#fff;
    padding:2%;
    border-radius:5px;
    box-shadow: 1px 2px 20px #888;
    margin-top: 150px;
}

div#login-container{
    padding: 1%;
    width: auto;
    min-height: 480px;
    border: solid 1px #ccc;
    border-radius: 8px;
    box-shadow: 1px 2px 20px #888;
    background: #fff;
    margin-top: 150px;
}

div#login-banner{
    float: left;
    width: 40%;
    height: 450px;
}

div#login-banner video {
    width: 100%;
    margin-top: 10%;
}

div#login {
    float: left;
    margin-top: 2%;
    padding: 2.5%;
    width: 50%;
}

h2 {
    font-size:32px;
}

label {
    float:left;
    font-size: 18px;
    margin-bottom:5px;
}

.field {
    border: solid 1px #ccc;
    border-radius: 10px;
    font-size: 20px;
    color: #0F2D77;
    width: 90%;
    /* margin: 10px 0px 10px 0px; */
    float: left;
    padding: 1%;
    height: 45px;
    text-indent: 1%;
}
.field:focus{
    border-color: #0F2D77;
}

.form-element {
    margin: 10px 0px;
    float:left;
    width: 98%;
    min-height: 30px;
}

.vd {
    float: left;
    margin:20px 0px 0px 5px;
    color: red;
    font-size: 14px;
}

.button {
    border: solid 1px;
    border-radius: 5px;
    padding: 3% 8% 3% 8%;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}

.sucesso {
    background: #0F2D77;
}

.default {
    padding: 2% 2%;
    text-decoration: none;
}

.secundario {
    background: #ccc;
    color: #000;
    border: none;
}


.link {
    color: blue;
    border: none;
    font-weight: normal;
    text-decoration: none;
    padding: 0%;
}

@media only screen and (max-width: 740px) {
    div#wrapper, div#container {
        width: 100%;
    }

    h2 {
        width: 100%;
        text-align: center;
    }

    label {
        text-align: left;
        width: 100%;
    }

    div#login-banner{
        display:none;
    }

    div#login {
        width: 100%;
        text-align: center;
    }

    .field {
        float:left;
    }
    
  }

@media only screen and (max-width: 600px) {
    div#wrapper, div#container {
        width: 100%;
    }

    h2 {
        width: 100%;
        text-align: center;
    }
    label {
        width: 100%;
    }

    div#login-banner{
        display:none;
    }

    div#login {
        width: 100%;
        text-align: center;
    }

    .form-element {
        width: 100%;
        float:left;
    }
    
  }
